<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
    <title>Mini Project Semester I</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  </head>

<body style="background-color:powderblue;">
<div ng-app="myApp" ng-controller="myCtrl">
  <h1 style="text-align:center;"><p style="background-color:yellow;"> Calculator </p> </h1>
  <h2 style="text-align:center;"><p style="background-color:tomato; text-align:center;">Select Calculator of Your Choice</p>
<button ng-click="myFunc()">Simple Calculator</button>
<button ng-click="myFunc1()">Interest Calculator</button>
<button ng-click="myFunc2()">Currency Converter</button>
</h2>

<h3>
<div ng-show="showMe"> 
  <h1 style="text-align:center;"><font color="red">Simple Calculator</font> </h1>
 <h2 style="text-align:center;"> Number 1: <input type="number" ng-model="num1"/><br>
  Number 2: <input type="number" ng-model="num2" /><br><br>
 <button ng-click="res= num1+num2" ng-init="res=">Add</button>
  <button ng-click="res= num1-num2" ng-init="res=">Subtract</button>
  <button ng-click="res= num1*num2" ng-init="res=">Multiply</button>
  <button ng-click="res= num1/num2" ng-init="res=">Divide</button><br><br>
   
   <span>Result: <font color="red">{{res}}</font></span></h2>
</div>
  
<h3 style="text-align:center;">
<div ng-show="showMe1">
  <h1 style="text-align:center"><font color="green">Interest Calculator</font></h1>
  <h3 style="text-align:center;">
Principle Amount(Rs.): <input type="number" ng-model="num3"/><br>
Rate of Interest(%): <input type="number" ng-model="num4"/><br>
Time period(year):   <input type="number" ng-model="num5"/><br><br>
<button ng-click="result= (num3*num4*num5)/100" ng-init="result=">Calculate</button><br><br>
<span>Interest Rs. <font color="red">{{result}}</font></span></h3>

</div>
  
<h3 style="text-align:center;">
<div ng-show="showMe2">
<h2 style="text-align:center">CURRENCY CONVERTER</h2>
  <div ng-controller="myCtrl">
Select Currency:<select ng-model="selectval" ng-options="item for item in items">
</select>
  <p>
<div ng-switch on="selectval"> 
  <div ng-switch-when="INR to USD">
        <p>Enter Rupees:<input type="text" ng-model="val1"><br><br>
      <span>Doller:<font color="red">{{val1/perdoller|currency:" USD$ ":2}}</font></span><br><br>
  </div>
  <div ng-switch-when="USD to INR">
      <p>Enter Doller:<input type="text" ng-model="val2"><br><br>
     <span>Rupees:<font color="red">{{val2*perdoller|currency:" Rs. ":2}}</font></span><br>
  </div>
  <div ng-switch-when="INR to EURO">
     <p>Enter Rupees:<input type="text" ng-model="val3"><br><br>
      <span>Euro:<font color="red">{{val3/eur|currency:"  ":2}}</font></span><br><br>
  </div>
  <div ng-switch-when="EURO to INR">
     <p>Enter Euro:<input type="text" ng-model="val4"><br><br>
      <span>Rupees:<font color="red">{{val4*eur|currency:" Rs. ":2}}</font></span><br><br>
  </div>
</div>
</div>
</div>
  
<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
$scope.showMe = false;
$scope.myFunc = function() {
$scope.showMe = !$scope.showMe;
}
$scope.showMe1 = false;
$scope.myFunc1 = function() {
$scope.showMe1 = !$scope.showMe1;
}
$scope.showMe2 = false;
$scope.myFunc2 = function() {
$scope.showMe2 = !$scope.showMe2;
} 
$scope.val1="";
$scope.val2="";
$scope.perdoller=76.065;
$scope.eur=84.06;

$scope.items=['INR to USD','USD to INR','INR to EURO','EURO to INR'];
$scope.selectval='Select';  
});


</script>
  <br> <h3 style="text-align:center;"><p style="color:green">Click the button to view calculator.</p></h3>
</body>
  <br><br><br><br>Created By: <br> <b>Pawan Kumar Vishwakarma.</b>
</html>
